<b>Attention: Support Ticket Not Created</b>
<br><br>
Your support ticket was not created because other people were CC'd on the e-mail. E-mails to support should contain only the support address in the "To" field. This allows our support system to send out appropriate notifications to the necessary people without duplicate e-mails being created or responses being lost. If you would like people to be notified, please add them as a watcher or e-mail watcher to the ticket.
<br><br>
__<br>
Thank you, Tipit Support Team